* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
  height: 150px;
}

.price {
  width: 100px;
}

.desc {
  width: max-content;
}

/* Edit buttons */
i {
  padding: 5px;
}

.edit_buttons {
  height: 150px;
  max-width: 94.18px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

/* bin button */
.bin:hover {
  color: grey;
}
/* bin button done */

/* Edit button */
.edit:hover {
  color: brown;
}
/* Edit button done */
